<div class="row container mt-4">
  <div class="col-3">
    <h2>Búsquedas</h2>
    <hr />
    <ul class="list-group">
      <li
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        routerLink="/"
        class="list-group-item"
      >
        Buscar país
      </li>
      <li
        routerLinkActive="active"
        routerLink="/region"
        class="list-group-item"
      >
        Por región
      </li>
      <li
        routerLinkActive="active"
        routerLink="/capital"
        class="list-group-item"
      >
        Por Capital
      </li>
    </ul>
  </div>

  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
